<?xml version="1.0" encoding="utf-8" ?>

<go-plugin id="com.lambdastack.go.gocd-artifacts-propagator-downloader" version="1.0-SNAPSHOT">
    <about>
        <name>Go Artifacts Propagator Plugin - Downloader</name>
        <version>1.0-SNAPSHOT</version>
        <target-go-version>14.1.0</target-go-version>
        <description>
            Go plugin to propagate artifacts downstream into $WORKSPACE/artifacts without the explicit need to "Fetch Artifacts" manually.
        </description>
        <vendor>
            <name>Lambdastack</name>
            <url>www.lambdastack.com</url>
        </vendor>
        <target-os>
            <value>Linux</value>
            <value>Mac OS X</value>
        </target-os>
    </about>
</go-plugin>
